.person_card {
  width: 100px;
  height: 100px;
  font-size: 13px;
}

#btn {
  margin-left: auto;
}
#profile_pic {
  border-radius: 50%;
  width: 35px;
  height: 35px;
}
.example-card {
  margin-left: 10px;
  margin-top: 10px;
  width: 280px;
  /* height:100%; */
  /* background-size: cover; */
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 5%,
      rgba(255, 255, 255, 1) 40%
    ),
    url(https://cdn-images-1.medium.com/max/800/1*92adf06PCF91kCYu1nPLQg.jpeg);
    /* url(https://coverfiles.alphacoders.com/372/37275.jpg); */

    
  }
.card-img {
  width: 150px;
  height: 150px;
  /* border-spacing: 2px; */
  padding: 2px;
  /* border:2px solid black; */
  border-radius: 50%;
  margin: auto;
  background-size: cover;

  /* margin-left:auto */
}
.out-border {
  /* border:3px solid white; */
  border-radius: 50%;
  padding: 3px;
  width: 156px;
  margin: auto;
}
textarea {
  margin: auto;
  width: 250px;
}
.user_name {
  display: block;
  text-align: center;
  font-size: 20px;
}
.example-card1 {
  display: none;
}
.img {
  border-radius: 50%;
  /* border:1px solid black; */
  z-index: 0;
  margin-top: 13px;

  width: 40px;
  height: 40px;
}
.content {
  position: relative;
  z-index: 0;
  height: 100%;
  /*width: */
}
.online {
  top: 40px;
  left: 29px;
  /*bottom: 0px;*/
  border: 1.2px solid white;
  background-color: green;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  z-index: 1;
  margin-left: auto;
  position: absolute;
}
