.login_card{
    margin-top:15%;
    width: 300px;
    height:300px;
    margin: auto;
    /* width: 300px;
  height: 100px;
  padding: 15px; */
  /* border:1px solid black; */
  /* box-shadow: 5px 5px 5px grey;     */

}
/* .card{
    /* background-color:#E4E4E3; */
    /* height:100% */
/* } */
.title{
  font-size:70px;
  /* font-weight: 300;  */
  margin: auto;
  text-align: center;
}