.admin_card {
  width: 310px;
  height: 320px;
  margin: auto;
  margin-top: 9%;
}
/* .upload_btn{
    background-color:yellow;
} */
.title {
  font-size: 70px;
  /* font-weight: 300;  */
  margin: auto;
  text-align: center;
}
